<div>
    <h2>Add New Repair Order</h2>
    Customer: <input type="text" [(ngModel)]="newOrder.customer"><br>
    
    Instrument: 
    <!-- NgModel accepts the id from each value so that we can refer to it-->
          <select [(ngModel)]="newOrder.instrument_id">
            <!--[value] or [ngValue] can be used to bind data in a dropdown list
            [value] accepts a string and [ngValue] accepts objects.
          This also details their id from the table in MySQL.-->
            <option *ngFor="let inst of TheInstruments" [value]="inst.id">{{inst.name}}</option>
            -
          </select>
            
          <br>
  
  
    Status: <input type="text" [(ngModel)]="newOrder.status"><br>
    Price: <input type="money" [(ngModel)]="newOrder.price"><br>
    Notes: <input type="text" [(ngModel)]="newOrder.notes"><br>
    <input type="checkbox" [(ngModel)]="newOrder.bookmark">Bookmark<br>
    <button (click)="saveIt()">Add</button>
  
  </div>